@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous');

:root {
	--accent: #395a8b;
	--disabled-accent: #363c4e;
	font-family: sans-serif;
}

.dp__theme_dark {
	--dp-primary-color: var(--accent) !important;
	--dp-primary-disabled-color: var(--disabled-accent) !important;
	--dp-font-size: 16px !important;
	--dp-background-color: #282C34 !important;
}

body.appadmin {
	margin : initial;
	background-image: url(/adminbg.webp); /* https://www.reddit.com/media?url=https%3A%2F%2Fi.redd.it%2Fi-tried-frutigeraero-art-v0-h1grovcdjhda1.png%3Fwidth%3D1920%26format%3Dpng%26auto%3Dwebp%26s%3D0e4e9834d68a8fb26f5b027a17c7e30b7bfdd4ed */
	background-size: cover;
}

body.adminpanel {
	margin : initial;
	background-image: url(/panelbg.jpg); /* https://www.reddit.com/media?url=https%3A%2F%2Fi.redd.it%2F13tg71b1qkda1.jpg */
	background-size: cover;
}

body.apphome {
	margin : 0; /* Remove default margin */
	background-color: #282C34;

	font-family: 'Prompt', sans-serif;
	--dp-font-family: 'Prompt', sans-serif !important;
}

.header-center {
	text-align: center;
	color: #eee;
	margin: auto;
}

body.apphome h1.header-center {
	font-size: 3rem;
}

body.apphome > h1, h2, h3, h4, h5, h6 {
	color: #97a5c0;
}

.admin-nav-a, a {
	color: #eee;
	text-decoration: none;
}

#web-header {
	padding: 16px 32px;
	position: sticky;
	display: flex;
	top: 0;

	z-index: 256;
	background-color: #282C34;
}

.header-logo {
	font-size: 32px;
	vertical-align: middle;
	font-family: 'Righteous', sans-serif;
}

.header-logo-text {
	position: relative;
	top: -4px;
	left: 10px;
}

.header-right {
	margin-left: auto;
	display: flex;
	gap: 1rem;
	align-items: center;
}

.header-img {
	width: 100%;
	height: 400px;
	object-fit: cover;
	filter: contrast(60%) sepia(100%) saturate(20%) hue-rotate(120deg) brightness(50%);
}

.card {
	background-color: #313844;
	border-radius: 20px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
	padding: 20px;

	color: #97a5c0;
}

.card > * {
	margin-bottom: 15px;
}

.content-center {
	margin-left: auto;
	margin-right: auto;
	display: grid;
}

.wide-limit {
	max-width: 1000px;
}

.narrow-limit {
	max-width: 500px;
}

.searchcar-layout {
	display: flex;
	gap: 24px;
	
	margin: 20px;
}

.searchcar-float {
	position: absolute;
	width: 100%;
	margin-top: -16em;
}

.branch-picker {
	width: 100%;
}

/* */

.dp__input {
	background-color: #282C34 !important;
}

.multiselect__tags {
	color: #aaa !important;
	background-color: #282C34 !important;
	border: none !important;
	min-height: 32px;

	padding: 8px 40px 8px 8px !important;
}

.multiselect__input, ::placeholder, .multiselect__single {
	color: #aaa !important;
	background-color: #282C34 !important;
	border: none !important;
	font-size: 16px !important;

	margin-bottom: 0px !important;
}

.multiselect__content {
	color: #aaa !important;
	background-color: #282C34 !important;
	border: none !important;
}

.multiselect__content-wrapper {
	color: #aaa !important;
	background-color: #282C34 !important;
	border: none !important;
}

.multiselect__option--selected {
	color: #aaa !important;
	background-color: #3b414d !important;
	border: none !important;
}

.multiselect__placeholder {
	color: #aaa !important;
	font-size: 16px !important;

	margin-bottom: 0px !important;
	padding-top: 0px !important;
}

.dp__theme_dark {
	color: #aaa !important;
}

.dp__icon {
	display: none;
}

.dp__pointer, dp__pointer ::placeholder, .dp__calendar_item, .dp__time_display {
	color: #aaa !important;
}

.dp__calendar_item {
	min-width: 75px;
}

.dp__cell_inner {
	width: 100% !important;
}

.dp__cell_disabled {
	color: #666 !important;
}

.dp__input::placeholder {
	opacity: 1 !important;
}

.dp__action_buttons {
	min-width: 128px !important;
}

.v-popper--theme-dropdown .v-popper__inner {
	background-color: #20242b !important;
	border: none !important;
}

.v-popper__arrow-container .v-popper__arrow-outer {
	border-color: #20242b !important;
}

.v-popper__arrow-container .v-popper__arrow-inner {
	background-color: #20242b !important;
	border: none !important;
}

/**/

.button {
	background-color: #395a8b;
	border: none;
	border-radius: 32px;
	padding: 8px 32px;
	color: #eee;
	font-size: 16px;
	cursor: pointer;
	transition: background-color .05s ease;

	font-family: 'Prompt', sans-serif;
}

.button.white {
	background-color: #eee;
	color: #111;
}

.button.minicon {
	display: flex;
}

.button.minicon > span {
	margin: auto;
	margin-left: 16px;
	width: 100%;
}

.pfp {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
}

.pfp-big {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	object-fit: cover;
}

.login-panel {
	max-width: 300px;
	min-width: 300px;
	padding: 16px;
	text-align: center;
	color: #eee;
}

.profilebutton-info {
	min-width: 300px;
}

.profilebutton-info-header {
	margin: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.profilebutton-info-header > * {
	margin: auto;
	color: #eee;
}

.profilebutton-info-header > h1 {
	font-size: 24px;
	margin-top: 10px;
}

.profilebutton-info >nav {
	margin-left: 0;
	margin-right: 0;
}

.profilebutton-info ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
}

.profilebutton-info li {
	border-top: 1px solid #444b58;
	padding: 4px;
	padding-left: 16px;
	transition: background-color .05s ease;
}

.profilebutton-info li:hover {
	background-color: #313844;
}

.profilebutton-loginchoices {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 16px;
}

.card-img-thumb {
	width: 500px;
	height: 300px;
	object-fit: cover;
	border-radius: 10px;
}
