@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous');

:root {
	--accent: #00ceab;
	--disabled-accent: #363c4e;
	font-family: sans-serif;
}

.dp__theme_light {
	--dp-primary-color: var(--accent) !important;
	--dp-primary-disabled-color: var(--disabled-accent) !important;
	--dp-font-size: 16px !important;
	--dp-background-color: #ffffff !important;
	--dp-border-color: #ffffff !important;
}

body.appadmin {
	margin : initial;
	background-image: url(/adminbg.webp); /* https://www.reddit.com/media?url=https%3A%2F%2Fi.redd.it%2Fi-tried-frutigeraero-art-v0-h1grovcdjhda1.png%3Fwidth%3D1920%26format%3Dpng%26auto%3Dwebp%26s%3D0e4e9834d68a8fb26f5b027a17c7e30b7bfdd4ed */
	background-size: cover;
}

body.adminpanel {
	margin : initial;
	background-image: url(/panelbg.jpg); /* https://www.reddit.com/media?url=https%3A%2F%2Fi.redd.it%2F13tg71b1qkda1.jpg */
	background-size: cover;
}

body.apphome {
	margin : 0; /* Remove default margin */
	background-color: #ffffff;

	font-family: 'Prompt', sans-serif;
	--dp-font-family: 'Prompt', sans-serif !important;
}

.header-center {
	text-align: center;
	color: #eee;
	margin: auto;
}

body.apphome h1.header-center {
	font-size: 3rem;
}

body.apphome > h1, h2, h3, h4, h5, h6 {
	color: #222224;
}

h1, h2, h3, h4, h5 {
	margin-top: 0px;
	margin-bottom: 0px;
}

h3, h4, h5 {
	font-weight: 600;
	color: #444;
}

a {
	color: #222;
	text-decoration: none;
}

.admin-nav-a {
	color: white;
	text-decoration: none;
}

.a-link {
	color: var(--accent);
	text-decoration: underline;
}

#web-header {
	padding: 16px 32px;
	position: sticky;
	display: flex;
	top: 0;

	z-index: 256;
	background-color: #ffffff;
}

#web-footer {
	padding: 16px 32px;
	display: flex;

	margin-top: 30px;

	z-index: 256;
	color:#fff;
	background-color: #1b1b1b;
}

.header-img-root {
	margin-left: 60px;
	margin-right: 60px;
	height: 500px;
	object-fit: cover;
	filter: contrast(60%) sepia(100%) saturate(20%) hue-rotate(120deg) brightness(50%);
}

.header-logo {
	font-size: 32px;
	vertical-align: middle;
	font-family: 'Righteous', sans-serif;
	color: black;
}

.header-logo-white {
	color: white;
}

.header-logo-text {
	position: relative;
	top: -4px;
	left: 10px;
}

.header-right {
	margin-left: auto;
	display: flex;
	gap: 1rem;
	align-items: center;
}

.header-img {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 500px;
	object-fit: cover;
	filter: contrast(60%) sepia(100%);
	border-radius: 20px;
}

.card {
	background-color: #ffffff;
	border-radius: 20px;
	border: #ccc solid 1px;
	padding: 20px;

	color: #1b1b1b;
}

.card-minimal {
	padding: 10px;
	margin-bottom: 20px;
}

.float {
	background-color: #fafafa;
	border-radius: 20px;
	border: none;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
	padding: 20px;

	color: #1b1b1b;
}

.float-mini {
	background-color: #fafafa;
	border-radius: 20px;
	border: none;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	padding: 20px;

	color: #1b1b1b;
	display: flex;
	position: sticky;
}

.content-center {
	margin-left: auto;
	margin-right: auto;
	display: grid;
}

.wide-limit {
	max-width: 1000px;
}

.narrow-limit {
	max-width: 500px;
}

.searchcar-layout {
	display: flex;
	gap: 24px;
	
	margin: 20px;
}

.searchcar-layout-mini {
	display: flex;
	gap: 24px;
	
	margin: 5px;
}

.searchcar-float {
	position: absolute;
	width: 100%;
	margin-top: -19em;
}

.searchcar-pin {
	position: sticky;
	top: 60px;
	z-index: 256;
}

.branch-picker {
	width: 100%;
}

/* */

.dp__input {
	background-color: #ffffff !important;
}

.dp__icon {
	display: none;
}

.dp__calendar_item {
	min-width: 75px;
}

.dp__cell_inner {
	width: 100% !important;
}

.dp__input::placeholder {
	opacity: 1 !important;
}

.dp__action_buttons {
	min-width: 128px !important;
}

.multiselect__tag {
	background: var(--accent) !important;
}


/**/

.button {
	background-color: var(--accent);
	border: none;
	border-radius: 32px;
	padding: 8px 32px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: background-color .05s ease;

	font-family: 'Prompt', sans-serif;
}

.button.white {
	background-color: #eee;
	color: #111;
}

.button.negative {
	background-color: #ff0080;
}

.button.minicon {
	display: flex;
}

.button.minicon > span {
	margin: auto;
	margin-left: 16px;
	width: 100%;
}

.pfp {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
}

.pfp-big {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	object-fit: cover;
}

.login-panel {
	max-width: 300px;
	min-width: 300px;
	padding: 16px;
	text-align: center;
}

.profilebutton-info {
	min-width: 300px;
}

.profilebutton-info-header {
	margin: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.profilebutton-info-header > * {
	margin: auto;
}

.profilebutton-info-header > h1 {
	font-size: 24px;
	margin-top: 10px;
}

.profilebutton-info >nav {
	margin-left: 0;
	margin-right: 0;
}

.profilebutton-info ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
}

.profilebutton-info li {
	border-top: 1px solid #ddd;
	padding: 4px;
	padding-left: 16px;
	transition: background-color .05s ease;
}

.profilebutton-info li:hover {
	background-color: #eee;
}

.profilebutton-loginchoices {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 16px;
}

.card-img-thumb {
	width: 500px;
	height: 300px;
	object-fit: cover;
	border-radius: 10px;
}

.card-img-thumb-mid {
	width: 300px;
	height: 250px;
	object-fit: cover;
	border-radius: 10px;
}

.card-img-thumb-small {
	width: 150px;
	height: 125px;
	object-fit: cover;
	border-radius: 10px;
}

.card-img-thumb-tiny {
	width: 100px;
	height: 75px;
	object-fit: cover;
	border-radius: 10px;
}

.cardside {
	display: flex;
	margin-bottom: 20px;
}

.cardside-content {
	margin-left: 16px;
	display: flex;
	flex-direction: column;
	min-width: 400px;
}

.cardside-content-wide {
	margin-left: 16px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.cardside-content-big {
	margin-left: 32px;
}

.footer-content {
	min-width: 1000px;
	display: grid;
}

.small-desc {
	font-size: 12px;
	color: #888;
}

.mid-desc {
	font-size: 16px;
	color: #555;
}

.footer-col {
	grid-column: span 4/span 4;
}

.flexcol-100 {
	width: 100%;
}

.flexcol-75 {
	width: 75%;
}

.flexcol-50 {
	width: 50%;
}

.minitwo {
	margin-top: auto;
	margin-bottom: 10px;
}

.two-col {
	display: flex;
	margin-top: 50px;
}

.tc-left {
	margin-right: 32px;
	width: 25%;
	max-height: 400px;
}

.tc-left > * {
	margin-bottom: 16px;
}

.tc-right {
	width: 100%;
}

.price-text {
	font-size: 24px;
	font-weight: 600;
}

.price-prefix {
	color: #888;
}

.price-number {
	color: var(--accent);
	margin-left: 6px;
}

.cardside-content-info {
	height: 100%;
}

.force-black {
	color: #000 !important;
}

.car-property {
	display: flex;
	gap: 16px;
	width: 100%;
}

.car-property-iconframe {
	background-color: #eee;
	border-radius: 100%;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #444;

	margin-bottom: 10px;
}

.car-property-iconframe-wide {
	background-color: #eee;
	border-radius: 50px;
	width: 64px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #444;

	margin-bottom: 10px;
}

.car-property-row {
	display: flex;
	flex-direction: row;
}

.insurance-card-body {
	display: flex;
	flex-direction: column;
}

.summary-content {
	display: flex;
	width: 100%;
}

.summary-content-left {
	display: flex;
	flex-direction: column;
	width: 300px;
}

.summary-content-right {
	display: flex;
	flex-direction: column;
	border-left: 1px solid #ccc;
	padding-left: 32px;
	width: 100%;
}

.summary-content-right > hr {
	border: 1px solid #ccc;
	width: 100%;
}

.cost-item {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	justify-content: space-between;
}

.cost-amount {
	text-align: right;
}

.form-card-body {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form-label {
	width: 200px;
	display: inline-block;
}

.form-input-text {
	margin-bottom: 10px;
}

.form-input-text > input {
	border: 1px solid #ccc;
	border-radius: 10px;
	height: 30px;
	font-family: 'Prompt', sans-serif;
	width: 600px;
}

.form-input-text > input:hover {
	border: 1px solid var(--accent);
}

.resv-head {
	display: flex;
	justify-content: space-between;
}

/**/

[class^="icon"] {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-moz-font-feature-settings: 'liga';
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-feature-settings: 'liga';
}

.icon-car::before {
	content: "\e531";
}

.icon-seat::before {
	content: "\efee";
}

.icon-fuel::before {
	content: "\e546";
}

.icon-gear::before {
	content: "\f53f";
}

.icon-down::before {
	content: "\e5c5";
}

.icon-up::before {
	content: "\e5c7";
}

.icon-insurance::before {
	content: "\e8e8";
}

.icon-price::before {
	content: "\e263";
}

.icon-pessengers::before {
	content: "\e636";
}

.icon-pricecheck::before {
	content: "\f04b";
}

.icon-timelapsed::before {
	content: "\e422";
}

.icon-driver::before {
	content: "\f8e6";
}

.icon-true::before {
	content: "\e86c";
}

.icon-false::before {
	content: "\e5c9";
}